extends layout

block pagestyle
    link(rel='stylesheet', href='/css/menu.css')

block content
    // Modal end menu
    div(class='container')
        div(class='hero-unit')
            h1='Facebook login is required'
            div='You must log into your facebook account to play the game'
            a(href='/')='Try again'

