extends layout

block content
    div
        ul
            li
                a(href="/newgame")="New Game with Random Opp"
            li
                a(href="/leaderboards")="Leaderboards"
            li
                a(href="/invite-friends")="Invite Friends"
