extends layout

block content
    div(id='gametimer')
    div
        div(id='words')
        canvas(id='canvas', width='760', height='400')
    div(id='timer', class="timer")=''
    div
        span(id='played')
    div
        ul(id='players')
    div
        div(id='logs')
