@charset 'UTF-8';

/* Main Game */
canvas {
    width:100%;
    /*height: 200px;*/
    /*background-color: #ccc;*/
}

#divcanvas {
    margin-bottom: 10px;
}

.myword {
    font-size: 40px;
    font-family: monospace;
    padding-left: 10px;
}

.trtype {
    width: 40px;
}

tbody tr {
    padding: 30px;
    height: 40px;
}

tbody td {
    padding-left: 2.5%;
}

tbody td span {
    color: blue;
}

.swordorshield {
    background-image: url('../images/swordorshield.png');
    background-repeat:no-repeat;
}

.sword {
    background-image: url('../images/sword.png');
    background-repeat:no-repeat;
}

.shield {
    background-image: url('../images/shield.png');
    background-repeat:no-repeat;
}

.endmenu {
    display: none;
}

.timer {
    padding-top: 10px;
    height: 40px;
    font-size: 50px;
    text-align: center;
}

.countdown-container {
    display: none;
    position: absolute;
    top: 300px;
    left: 50%;
}

.countdown {
    position: relative;
    background-color: #eee;
    font-size: 80px;
    text-align: center;
    left: -50%;
    height: 60px;
    padding-top: 30px;
    width: 200px;
}

.lifebar-container {
    padding: 0;
}

.lifebar-bg {
    height: 40px;
    position: absolute;
    z-index: -1;
    margin: 0;
    background-color: #eee;
}

.lifebar {
    height: 40px;
    background-color: #ff5a00;
}
.lifebar-name-right {
    margin-top: -20px;
    font-size: 20px;
    font-family: Helvetica;
    z-index: 1;
    color: #444;
    text-align: left;
}

.lifebar-name-left {
    text-align: right;
    margin-top: -20px;
    font-size: 20px;
    font-family: Helvetica;
    z-index: 1;
    color: #444;
}

.lifebar-left {
    width: 100%;
}

.lifebar-right {
    width: 100%;
    float:right;
}

.th-word {
    width: 90%;
}

.th-type {
    width: 40px;
}

.th-power {
    width: 10%;
}

.play-type {
    height: 40px;
    padding: 0px !important;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
}

#play-input {
    height: auto;
    /*width: 100%;*/
    font-size: 40px;
    font-family: monospace;
}

/* End Game */
#modalinfos {
    display: none;
}

body .modal {
    width: 80%; /* desired relative width */
    left: 10%; /* (100%-width)/2 */
    margin: auto auto auto auto; /* place center */
}

body .modal th, body .modal td {
    font-size: 16px;
}

/* Debug */
#logs {
    white-space: nowrap;
}
