
.timer {
    position:absolute;
    font-size: 200%;
    top: 200px;
    left: 200px;
}

.word {
    position:absolute;
    font-size: 120%;
    top: 100px;
    left: 0px;
}

.playingpane {
    font-size: 200%;
}

.maincontent {
}

.button-menu {
    margin-bottom: 10px;
}

.btn-menu {
    width: 300px;
}

.endmenu {
    display: none;
}

#online-friends {
    display: none;
}

#offline-friends {
    display: none;
}

#play-input {
    height: auto;
    width: 400px;
    font-size: 180%;
}
